/*----------- Logo Styles ---------*/

%navLogo {
    font-family: $brand-font;
    font-weight: 700;
    font-style: italic;
    font-size: 1.50em;
    color: #fff;
}

%largeLogo {
    font-family: $brand-font;
    font-weight: 700;
    font-style: italic;
    font-size: 4.50em;
    padding-top: 15px;
    color: #fff!important;
}

/*----------- Button Styles ---------*/

%btn {
    color: #fff;
    background: linear-gradient(to left, #007bff, #0a81ff, #1787ff, #238dff, #2e93ff);
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;

    }
    &:active {
        background: linear-gradient(to left, #007bff, #0a81ff, #1787ff, #238dff, #2e93ff);
    }
    &:hover {
        background: linear-gradient(to left, #035ebd, #0b61bc, #1d7ce1, #2988ee, #4194ed);
        moz-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
    }
    &:focus {
        background: linear-gradient(to left, #0551a1, #064b94, #1a6ec7, #1f6fc5, #367fcd);
    }
}
