%navLogo {
    font-family: $brand-font;
    font-weight: 700;
    font-style: italic;
    font-size: 1.50em;
    color: #fff;
}

%largeLogo {
    font-family: $brand-font;
    font-weight: 700;
    font-style: italic;
    font-size: 4.50em;
    padding-top: 15px;
    color: #fff!important;
}

%btn {
    &:hover,
    &:focus,
    &:active {
        cursor: pointer; 
    }
}
