//-------------Colors------------
$brand-color: #007bff;
$section-color: #ebf5ff;


//-------------Fonts-------------
$brand-font: 'Muli', sans-serif; 
$main-font: 'Poppins', sans-serif;

//-------------Gradients---------

//$button-color: background: linear-gradient(to left, #007bff, #0a81ff, #1787ff, #238dff, #2e93ff);
//background: linear-gradient(to left, #0551a1, #064b94, #1a6ec7, #1f6fc5, #367fcd);

//background: linear-gradient(to left, #007bff, #0a81ff, #1787ff, #238dff, #2e93ff);